.bg-sm {
  background-image: url(../images/bg-sm.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.bg-xl {
  background-image: url(../images/bg-xl.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
.marTB {
  margin-top: 100px;
  margin-bottom: 143px;
}
.anim::after {
  content: "";
  display: inline-block;
  /* width: 40px; */
  height: 40px;
  background-image: url(../images/roller_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -17px;
  left: -16px;
}
.anim:hover::after {
  width: 40px;
}
